* {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-link {
  text-decoration: none;
  text-transform: uppercase;
}

.button-link-white {
  color: white;
}

.button-link-black {
  color: black;
}

.button-link-active {
  font-weight: bold;
  text-decoration: underline;
}

.error-message {
  color: red;
  text-align: center;
}

.standard-box-display {
  width: 60%;
  margin-left: 10%;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .standard-box-display {
    width: 90%;
    margin-left: 0px;
  }
}
