* {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.error-message {
  color: red;
  text-align: center;
}
